@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-table,
.product-card {
  /* grid-template-columns: 250px 180px repeat(4, 80px) 300px 100px; */
  grid-template-columns: 0.217fr 0.157fr repeat(4, 0.069fr) 0.261fr 0.087fr;
}