.remove-unknown tr.unknown {
  display: none;
}

.view-only-out-of-stock tr:not(.out-of-stock) {
  display: none;
}

.view-only-low-stock tr:not(.low-stock) {
  display: none;
}

.view-only-medium-stock tr:not(.medium-stock) {
  display: none;
}

.view-only-high-stock tr:not(.high-stock) {
  display: none;
}

@keyframes highlightAnimation {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #81ffee;
  }
  100% {
    background-color: #ffffff;
  }
}

.product-row-item.highlight {
  animation: highlightAnimation 1.5s ease-in-out infinite;
}