.remove-unknown tr.unknown {
  display: none;
}

.view-only-out-of-stock tr:not(.out-of-stock) {
  display: none;
}

.view-only-low-stock tr:not(.low-stock) {
  display: none;
}

.view-only-medium-stock tr:not(.medium-stock) {
  display: none;
}

.view-only-high-stock tr:not(.high-stock) {
  display: none;
}

.product-row-item.highlight td {
  position: relative;
}

.product-row-item.highlight td span {
  z-index: 1;
  position: relative;
}

@keyframes highlighttransition {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(1.2);
    opacity: 0;
  }
}

.product-row-item.highlight td:first-child:before,
.product-row-item.highlight td:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  height: 100%;
  background: transparent;
  border: 5px solid rgb(47, 222, 235);
  z-index: 0;
  animation: highlighttransition 1.5s ease-in-out infinite;
}

.product-row-item.highlight td:first-child:after {
  animation: highlighttransition 1.5s ease-in-out 0.5s infinite;
}